/* Estilo para el botón */
.btn.btn-primary {
    width: 200px; /* Ancho personalizado */
    height: 38px; /* Altura personalizada */
    border-radius: 5px; /* Forma cuadrada */
    font-size: 16px; /* Tamaño de la fuente */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #144c88; /* Fondo azul */
    border-color: #144c88; /* Borde azul */
    color: white; /* Color del texto */
    padding-left: 20px; /* Espacio para mover el icono a la izquierda */
    position: relative; /* Para controlar el posicionamiento */
}

/* Alinear el icono más a la izquierda */
.btn i {
    position: absolute;
    left: 10px; /* Mueve el icono hacia la izquierda */
    margin-right: 10px; /* Espacio adicional entre el icono y el texto */
}

/* Centrar el texto */
.btn span {
    flex-grow: 1; /* Permite que el texto se mantenga centrado */
    text-align: center; /* Asegura que el texto esté centrado */
}

/* Efecto hover para el botón */
.btn.btn-primary:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
    border-color: #0056b3; /* Mantiene el borde al hacer hover */
}
